
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 redmusical.asgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=redmusical.settings
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  spotify-worker:
    build: .
    command: python manage.py process_spotify_queue --loop --sleep 30 --limit 5
    depends_on:
      - web
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=redmusical.settings